body {
    background: #404040;
    margin-top: 40px;
    margin-left: 15px;
}

p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: DarkSlateGray;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #dddddd;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #dddddd;
}

button {
  background-color: #606060;
  width: 145px;
  border-radius: 4px;
  border: none;
  color: #dddddd;
  padding: 10px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: 0.8s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #66c2ff; /* APM Blue */
  color: black;
}

/* This is the responsive design part */
/* For mobile phones. The styles are loaded first for mobile for faster loading on mobile */

* {
box-sizing: border-box;
}

[class="col-"] {
width: 100%;
}

@media only screen and (max-width: 360px)
{
button {margin-bottom: 0px;} /* Removes the margins between buttons if the display is too narrow */
}

@media only screen and (min-width: 768px)
{

/* For desktop size. If width > 768px */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

button {
font-size: 120%;
width: 100%;
}
h1 {
font-size: 160%;
}
h2 {
font-size: 120%;
}
}

@media only screen and (min-width: 1080px) /* Prevents the button from becoming too wide */
{
button {
width: 80%;
}
}

[class*="col-"] {
float: left;
padding: 10px; /* Make all columns floating to left */
}

.row::after {  /* Makes the columns overflow into the next row */
content: "";
clear: both;
display: table;
}

/* This is where the responsive part ends */

.footer a {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #b3b3b3;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
    font-family: 'Poppins', sans-serif;
}