<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="icon" href="/static/favicon.png" />
    <meta charset="UTF-8">
    <title>Ship Weather</title>
</head>
<body>
    <h1>Ship weather. Powered by Windy.</h1>
    <br>
    <h2>See the weather at the vessel's current position</h2>
    <br>
<p>
    <form action="/ship1" method="post">
        <button type="submit" value="Bro Nibe">BRO NIBE</button>
    </form>
</p>

<p>
    <form action="/ship2" method="post">
        <button type="submit" value="Bro Nissum">BRO NISSUM</button>
    </form>
</p>

<p>
    <form action="/ship3" method="post">
        <button type="submit" value="Maersk Maru">MAERSK MARU</button>
    </form>
</p>

</body>
<div class="footer">
  <p><a href="mailto:bogdanrbucur@gmail.com">by Bogdan Bucur</a></p>
</div>
</html>