<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href='/static/main.css' />
<link rel="icon" href="/static/favicon.png" />
<meta charset="UTF-8">
<meta http-equiv="cache-control" content="no-cache">
<title>Ship Weather</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
</style>
</head>
<body>
<div class="row">
    <div class="col-12">
    <h1>Ship Weather powered by Windy</h1>
</div>
    </div>
<div class="row">
    <div class="col-12">
    <h2>See the weather for your vessel</h2>
</div>
    </div>
<div class="row">
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Bro Nibe" name="button">BRO NIBE</button>
    </form>
</div>
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Maersk Maru" name="button">MAERSK MARU</button>
    </form>
</div>
</div>

<div class="row">
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Bro Nissum" name="button">BRO NISSUM</button>
    </form>
</div>
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Maersk Cebu" name="button">MAERSK CEBU</button>
    </form>
</div>
</div>

<div class="row">
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Bro Agnes" name="button">BRO AGNES</button>
    </form>
</div>
<div class="col-3">
    <form action="/ship" method="post">
        <button type="submit" value="Maersk Kaya" name="button">MAERSK KAYA</button>
    </form>
</div>
</div>

</body>
<div class="footer">
  <p><a href="mailto:bogdanrbucur@gmail.com">by Bogdan Bucur</a></p>
</div>
</html>